.trades {
    margin: 0 25px;
    padding: 15px 25px;
    background: #1f1d21;

    span {
        color: #fff;
    }

    &-table {

        &__heading {
            display: flex;
            margin-bottom: 20px;

            &-item {
                flex-basis: calc(100% / 6);
                padding: 20px;

                span {
                    color: #fff;
                }

                .heading-button {
                    display: block;
                    cursor: pointer;
                    color: #fff;
                    border-radius: 5px;
                    padding: 5px 15px;
                    height: 30px;
                    background: #8dbf42;
                    margin-left: auto;
                    border: none;
                }
            }
        }

        &__row {

            &:nth-child(even) {
                background: #141316;
            }
        }
    }
}

.chart {
    width: 95%;
    margin: auto;
}