body {
    box-sizing: border-box;
    padding-top: 55px;
    height: 100vh;
    background: #141316;
    margin: 0;
    font-family: 'Liberation Sans', sans-serif;

    * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }
}
